
html {
  box-sizing: border-box;
    background:grey;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1{
  background:blue;
}
p{
  /*background: pink;*/
}
#header{
  background-color: #071924;/*Darker blue */
  position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;

}
section{
  /*background-color: purple;*/
}

.quote-box{
  text-align:justify;
  /*position: relative;*/
  margin:15% 20% 15% 26% ;
  border-radius: 5px;
  background: red;
  color: black;
  min-width:50%;
  width: 400px;
  height:375px;
  max-height:50%;
  z-index:3;
}
.enclosedBox{
  color:black;
  z-index:2;
}
.quote-text{
  /*background: brown;*/
  font-size: 26px;
  min-height: 210px;
  margin: 20px 10px;
  font-family:Arial, Verdana;
}
.quotePara{
  margin: auto 10px;

}
#fa-quote-right{
  text-align: right;
}
.quote-author{
  /*background: green;*/
  text-align: right;
  font-size: 20px;
  font-family:'Courgette', cursive;
}
#tweet-quote{
  background:#0084b4 ; /*twitter color*/
  display: inline-block;
  border: 2px black solid;
  padding: 12px;
  cursor: pointer;
  margin:10% 35% 5% 5%;
  bottom: 0;
  position: absolute;
  border-radius: 50%;
}
a.tweet-quote {
  color:#fff;
  text-decoration:none
}

a.tweet-quote:visited {
  color:#fff
}

a.:active,
a.tweet-quote:hover {
  color:#fff;
  background-color:#55acee
}
#button{
  background: blue;
  display: inline-block;
  padding: 20px;
  display: inline-block;
}
#getQuote{
  margin:2% 3% 5% 20%;
  position: absolute;
  border: 2px black solid;
  bottom: 0;
  right:0;
}


/*Footer area after quote Randomizer*/
footer{
  background: lightblue;
  height:auto;

}

.hide-me{
  visibility:hidden;
}
