body{
  
  background:#A93226;
}


.name-animation{
  display:inline-block;
}
.navbar-brand{
  position: absolute;
  text-align:-100px;
  width:100%;
}
.nav{
  padding-left:50px;
}

#about {
  padding-top:60px;
  height:550px;
  color: #fff;
  background-color: #2B2B2B;
}
#pabout{
  text-align:justify;
  padding-top:10px;
  ;
  
}
#portfolio {
  padding-top:50px;
  padding-bottom: 60px;
  height:100%;
  color: #2B2B2B;
  background-color:#A93226;
}
#contact {
  padding-top:50px;
  height:300px;
  color: #fff;
  background-color:
    #2B2B2B;
}
#section41 {
  padding-top:50px;
  height:500px;
  color: #fff;
  background-color:
    #1E88E5;
}
#section42 {
  padding-top:50px;
  height:500px;
  color: #fff;
  background-color:
    #009688;
}
#myphoto{
  max-width:100%;
  width:80%;
  position: absolute;
  height:auto;
  display:block;
  margin:auto;
  border-radius:50%;
  border: 7px solid #ECECEA;
  
}
#socialicons{ 
  display: block;
  margin: auto;
  padding-top: 50px;
  
}
#projecttitle{
  text-align: center;
  font-weight:bold;
  text-transform: uppercase;
  padding:0px 0px 80px 0px;
  
}

}
.work-project{
  padding-bottom:40px;
}
.project-image-container{
  border: 5px solid #3B3738;
  background-color: #A93226;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
} 
.project-image{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; 
}
   
.project-image:hover .image{
  opacity: 0.3;
}
.work-project:hover .middle {
  opacity: 0.3;
}
.viewproject {
  background-color: white;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.project-title{
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1.2px;
  padding:5px 0px 10px 0px;
  font: bold;
}
.project-description{
  font-family: Sans-serif;
  font-size: 15px;
  padding:0px 0px 10px 0px
}
.project-languages{
  color: grey;
  font-size: 13px;
}
